body {
    background-color: #171B24;
    color: #FFFFFF;
}
a {
    color: #FFFFFF;
}
a:hover, a:focus {
    color: #454A54;
    text-decoration: none;
}

.tr1:nth-child(odd) {
    background-color: #171B24;
}
.tr1:nth-child(even) {
    background-color: #242A36;
}
.tr2, .th1, .td1 {
    background-color: #0E1015;
}
.th1-2, .td1-2 {
    background-color: #242A36;
}
.td3 a:hover, .td3 a:hover, .td7 a:hover, .td7 a:hover {
    color: #FFFFFF;
}

#bas-page {
    color: #FFFFFF;
    background-color: #0E1015;
}
/*Viewers*/
.returnlist { 
    background-color: #242A36;
    box-shadow: 2px 2px 6px #000;
}
.blocknameserver {
    background-color: #242A36;
    box-shadow: 2px 2px 6px #000;
}
.infoserver {
    background-color: rgba(23, 27, 36, 0.6);
    box-shadow: 2px 2px 6px #000000 inset;
}
.blockinfoserver {
    box-shadow: 2px 2px 6px #000;
}
.vtr1 {
    background-color: #0E1015;
}
.vtr2:nth-child(odd) {
    background-color: #171B24;
}
.vtr2:nth-child(even) {
    background-color: #242A36;
}
.noplayers {
    background-color: #242A36;
    box-shadow: 2px 2px 6px #000;
}