a {
    color: #FFFFFF;
}
a:hover, a:focus {
    color: #000000;
}

.tr1:nth-child(odd) {
    background-color: #E3EDFD;
}
.tr1:nth-child(even) {
    background-color: #FFFFFF;
}
.tr2, .th1, .td1 {
    background-color: #8EAEF0;
}
.th1-2, .td1-2 {
    background-color: #ADC4F3;
}
.td3 a, .td7 a {
    color: #000000;
}
.td3 a:hover, .td3 a:hover, .td7 a:hover, .td7 a:hover {
    color: #000000;
}

#bas-page {
    color: #FFFFFF;
    background-color: #8EAEF0;
}

#bas-page a:hover, #bas-page a:focus {
    text-decoration: none;
    color: #6075A0;
}
/*Viewers*/
.returnlist { 
    background-color: #8EAEF0;
    box-shadow: 2px 2px 6px #000;
}
.blocknameserver {
    background-color: #6075A0;
    box-shadow: 2px 2px 6px #000;
}
.infoserver {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 6px #000000 inset;
}
.blockinfoserver {
    box-shadow: 2px 2px 6px #000;
}
.vtr1 {
    background-color: #6075A0;
}
.vtr2:nth-child(odd) {
    background-color: #E3EDFD;
}
.vtr2:nth-child(even) {
    background-color: #FFFFFF;
}
.noplayers {
    background-color: #E3EDFD;
    box-shadow: 2px 2px 6px #000;
}