html {
    font-size: 100%;
    height: 101%;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

table {
    border-collapse: collapse;
    box-shadow: 4px 8px 8px #000;
    margin-bottom: 25px
}

th {
    padding: 10px 5px;
    font-size: 0.9em;
}

td {
    padding: 5px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}
a:hover, a:focus {
    text-decoration: none;
    color: #000000;
}

.tr1:nth-child(odd) {
    background-color: #E3EDFD;
}
.tr1:nth-child(even) {
    background-color: #fff;
}

.tr2 {
    background-color: #8EAEF0;
}

.tr3 {
    background-color: #8EAEF0;
}

.tr4 {
    background-color: #8EAEF0;
}

.tr5 {
    background-color: #8EAEF0;
}

.th1 {
    background-color: #8EAEF0;
    text-align: left;
}
.th12 {
    background-color: #ADC4F3;
    text-align: left;
}

.th2 {
    text-align: left;
}
.th2b {
    text-align: right;
}
.th22 {
    min-width: 80px;
}
.th22b {
    min-width: 95px;
}
.th23 {
    min-width: 30px;
}
.td1 {
    background-color: #8EAEF0;
    text-align: right;
}
.td12 {
    background-color: #ADC4F3;
    text-align: right;
}

.th2l {
    float: left;
}
.th2r {
    float: right;
}

.td2, .td4 {
    text-align: right;
}

.td5, .td6 {
   text-align:center;
}

.td7 {
   font-weight: bold;
}

#bas-page {
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    background-color: #8EAEF0;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bas-page a:hover, "bas-page a:focus {
    text-decoration: none;
    color: #6075A0;
}

#contenu {
    margin-left: 10px;
    margin-right: 10px;
}

#titre {
    margin-left: 10px;
}
#tableau1 table {
    width: 400px;
}

#gauche {
    display: inline-block;
}
#droite {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
}
#droite table {
    max-width: 1410px;
}
#gauche table {
    width: 400px;
}

#droite2 {
   display: none;
}

@media (max-width: 1874px) {
    #titre {
        text-align: center;
    }
    #contenu {
        margin-left: 0px;
        margin-right: 0px;
    }
    #gauche {
       vertical-align: top;
       display: block;
       margin-left: 10px;
    }

    #droite {
        vertical-align: none;
        display: block;
        margin-left: 0px;
    }

    #droite table {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
    #hleft {
        float: left;
        margin-left: 50px;
    }
    #hright {
        float: right;
        margin-right: 50px;
    }

}
@media (max-width: 1049px) {
    #droite {
        display: none;
    }
    #droite2 {
        vertical-align: none;
        display: block;
        margin-left: 0px;
    }
    #droite2 table {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
    .th22 {
        min-width: 70px;
    }
}
@media (max-width: 949px) {
    #hleft {
        margin-left: 1%;
    }
    #hright {
        margin-right: 1%;
    }
}
@media (max-width: 849px) {
    #hleft {
        float: none;
    }
    #hright {
        float: none;
    }
}